[submodule "services/music-player"]
	path = services/music-player
	url = https://github.com/sosacloud/music-player-service
[submodule "services/sidebar"]
	path = services/sidebar
	url = https://github.com/sosacloud/sidebar-views
